<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        side: <input type="text" v-model="side">
        area: <input type="text" v-model="area">
    </div>

    <script src="/sources/js/application.js"></script>
</body>
</html>